<h1>Houses of Westeros (<a href="/houses/new">+</a>)</h1>

<div class="character_section">
  <% @houses.each do |house| %>
  <a href="/houses/<%= house.id %>"><div class="house_box">
    <img class="index_sigil" src="<%= house.sigil_url %>" alt="House <%= house.name %> Sigil'">
    <% unless house.name == "The Night's Watch" %>
      <h2> House <%= house.name %></h2>
    <% else %>
      <h2>The Night's Watch</h2>
    <% end %>
  </div></a>
  <% end %>

  <a href="/houses/new"><div class="house_box add_box">
    <img class="index_sigil" src="http://downloadicons.net/sites/default/files/plus-icon-91547.png" alt="Addition Sign">
    <h2>Add House</h2>
  </div></a>

  <a href="/select_house"><div class="house_box add_box">
    <img class="index_sigil" src="http://downloadicons.net/sites/default/files/plus-icon-91547.png" alt="Addition Sign">
    <h2>Add Character</h2>
  </div></a>

</div>
