<h1>What House is This Character In?</h1>

  <div class="character_section">
  <% @houses.each do |house| %>
  <a href="/characters/<%= house.id %>/new"><div class="house_box">
    <img class="index_sigil" src="<%= house.sigil_url %>" alt="House <%= house.name %> Sigil'">
    <% unless house.name == "The Night's Watch" %>
      <h2> House <%= house.name %></h2>
    <% else %>
      <h2>The Night's Watch</h2>
    <% end %>
  </div>
  <% end %>
</div></a>
