<h1>What House is This Character In?</h1>

<% @houses.each do |house| %>
<div class="house_box">
  <h2><a href="/houses/<%= house.id %>"><%= house.name %></a></h2>
  <img class="index_sigil" src="<%= house.sigil_url %>" alt="House <%= house.name %> Sigil'">
</div>
<% end %>
