/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: "thrones";
   src: url('game_of_thrones.ttf') format("truetype");
 }

html {
  background: url("http://vignette2.wikia.nocookie.net/gameofthrones/images/7/7e/The_known_world_HBO.jpg/revision/latest?cb=20130507121142");
  background-position: 10% 10%;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_box {
  width: 1000px;
  height: 630px;
  border: 10px solid grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  overflow: scroll;
  background: white;
  padding: 10px;
}

.intro_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1020px;
  height: 650px;
  margin: -10px;
  margin-top: 10px;
  background-color: white;
}

.house_box {
  border: 10px solid grey;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background: beige;
}

.index_sigil {
  width: 200px;
  height: 240px;
}

nav {
  width: 1020px;
  height: 50px;
  background-color: grey;
  margin: -26px -30px 0px -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show_sigil {
  height: 400px;
  width: 480px;
}
