<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="content_box">
      <header>
        <h1>HOUSES OF WESTEROS</h1>
      </header>
      <nav>
        <a href="/index"><div><p>HOME</p></div></a>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
